<template>
  <div class="about">
    <section class="about__section main">
      <div class="inner cg">
        <div v-animate.fade="'fade'" class="about__bg"/>
        <h1>Our aim is straightforward:</h1>
      </div>
    </section>
    <section class="about__section info">
      <div class="cg" v-animate.fade="'slide-up'">
        <p>
          To help our clients enjoy a better lifestyle today while planning for a secure future tomorrow. 
          We strongly believe in traditional values and virtues such as reliability, respect and integrity,
          meeting the diverse needs of our clients by offering bespoke, personal advice.
        </p>
        <h2>Why choose us</h2>
        <ul>
          <li>Experienced team;</li>
          <li>Smooth and stress-free process;</li>
          <li>Many years of experience;</li>
          <li>Processing is fast and efficient.</li>
        </ul>
        <p>
          Our team of consultants is comprised of multilingual experts who will provide you with the highest 
          quality of advice on matters such as the best location to seek investment immigration, the type of 
          investment most suitable to your needs, and how to administer the relevant documentation.
        </p>
        <button class="green" @click="$store.commit('showModal')">Contact us</button>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.about {
  @include mobile {
    background: #eff8fe;
  }

  &__bg {
    background: url('../assets/about.png') no-repeat;

    @include mobile {
      height: 400px;
      background-size: auto 500px;
      background-position: bottom left;
    }

    @include desktop {
      position: absolute;
      top: -130px;
      right: 20px;
      width: 475px;
      height: 550px;
    }
  }

  &__section {

    &.main {
      @include desktop {
        padding: 80px 0;
      }

      h1 {
        font-weight: normal;
      }

      .inner {
        position: relative;
      }
    }
    
    &.info {
      padding: 40px 0;
      background: #eff8fe;

      p:first-of-type{
        @include desktop {
          padding-right: 620px;
        }
      }

      ul {        
        @include desktop {
          padding-right: 400px;
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-gap: 10px;
        }
      }
    }
  }
}
</style>