<template>
  <div class="contact">
    <div class="contact__inner cg">
      <div class="contact__left">
        <h1>
          Please complete the application form below 
          and one of our representatives will be in 
          touch with you promptly.
        </h1>
        <v-form class="contact__form"/>
      </div>
      <div class="contact__right">
        <div class="contact__details">
          <h3>How to find us:</h3>
          <div class="contact__item">
            <div>Phone</div>
            <a href="tel:+442038074409">+44 203 807 4409</a>
          </div>
          <div class="contact__item">
            <div>Email</div>
            <a href="mailto:hello@m2p.com">info@my2ndpassport.com</a>
          </div>
          <div class="contact__item">
            <div>Address</div>
            Unit B, Lot 49, 1st Floor, Block F<br/>
            Lazenda Warehouse 3<br/>
            Jalan Ranca-Ranca, 87000 F.T.<br/>
            Labuan, Malaysia
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VForm from '@/components/contact';

export default {
  components: { VForm },
};
</script>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.contact {
  @include desktop {
    background: 
      url('../assets/contact.png') no-repeat 50vw center,
      linear-gradient(to right, #fff 0%, #fff 50%, #eff7fd 50%); 
  }

  h1 {
    color: #131e43;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  &__inner {
    @include desktop {
      display: flex;
    }
  }

  &__left,
  &__right {
    @include desktop {
      width: 50%;
    }
  }

  &__left {
    background: #fff;

    @include mobile {
      padding: 40px 0;
    }

    @include desktop {
      padding: 60px 100px 85px 0;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      padding: 80px 20px;
      background: #eff7fd url('../assets/contact.png') no-repeat center;
      margin: 0 -20px;
    }
  }

  &__form {
    @include desktop {
      margin: auto;
    }
  }

  &__details {
    max-width: 420px;
    padding: 40px;
    box-shadow: -2px 10px 50px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(223deg, #97ca54 0%, #83ca54 100%);
    color: #fff;
    border-radius: 6px;
    flex-grow: 1;
    animation: left 0.5s ease-in-out forwards;

    @include desktop {
      padding: 80px;
    }

    a, h3 {
      color: inherit;
      text-decoration: none;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__item {
    margin-top: 30px;

    div {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

@keyframes left {
  0% { opacity: 0; transform: translateX(300px) }
  100% { opacity: 1; transform: translateX(0) }
}
</style>