<template>
  <div>
    <section class="main">
      <div class="cg">
        <div v-animate.fade="'fade'" class="main__left">
          <h1>
            <div>Second citizenship </div>
            for you and your family
          </h1>
          <p>Today having a second Citizenship has become as important as having a secure bank account</p>
          <router-link target="_blank" to="/compare">
            <button class="green">Compare Programs</button>
          </router-link>
        </div>
      </div>
    </section>
    <section class="benefits cg inner">
      <div class="cg">
        <h2 v-animate.fade="'slide-up'">Most important benefits</h2>
        <p v-animate.fade="'slide-up'">Of having a second passport and second citizenship</p>
        <div class="list">
          <div v-animate.fade="'slide-right'">
            <visa/>
            <span>Visa-Free Traveling</span>
          </div>
          <div v-animate.fade="'slide-right'">
            <inter/>
            <span>Internationalization</span>
          </div>
          <div v-animate.fade="'slide-right'">
            <growth/>
            <span>Business Growth</span>
          </div>
          <div v-animate.fade="'slide-right'">
            <tax/>
            <span>Better Tax Management</span>
          </div>
          <div v-animate.fade="'slide-right'">
            <prot/>
            <span>Protection from the control of people</span>
          </div>
          <div v-animate.fade="'slide-right'">
            <life/>
            <span>Better lifestyle</span>
          </div>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="cg">
        <h2>We got huge varity of services that we can offer to you</h2>
        <div class="services__list">
          <div class="services__text">
            <p>Our services</p>
            <div class="services__current">
              <span>
                {{ current + 1 }}
              </span>
               / 6
            </div>
          </div>
          <div class="services__slider">
            <div class="prev" @click="prev"/>
              <component
                :is="desktop ? 'div' : 'slider'"
                ref="slider"
                v-model="current"
                height="330px"
                :interval="5000"
                :control-btn="false" 
                :indicators="false" 
                class="services__grid">
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Consultancy</h3>
                    <p>Consultancy on second citizenship </p>
                  </div>
                </component>
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Expert guidance</h3>
                    <p>Expert guidance throughout the application procedure</p>
                  </div>
                </component>
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Collection and review</h3>
                    <p>Collection and review of documents to confirm your application is accurate, complete, and ready for submission</p>
                  </div>
                  </component>
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Preparation and submission</h3>
                    <p>Preparation and submission of your application to the relevant authorities</p>
                  </div>
                </component>
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Monitoring</h3>
                    <p>Monitoring the status of your application</p>
                  </div>
                </component>
                <component :is="desktop ? 'div' : 'slider-item'" class="services__item">
                  <div class="services__item__inner">
                    <h3>Representing the client’s interests</h3>
                    <p>Representing the client’s interests during the application review</p>
                  </div>
                </component>
              </component>
              <div class="next" @click="next"/>
            </div>
          </div>
        <div id="random-triangle"></div>
      </div>
    </section>
    <section class="jurisdictions">
      <div class="cg inner">
        <div class="example">
          <h2 v-animate.fade="'slide-left'">Most Popular Jurisdictions</h2>
        </div>
        <countries  ref="slider1" v-model="slider1" />
      </div>
    </section>
    <contact/>
  </div>
</template>

<script>
import Contact from '@/components/section-contact';
import Countries from '@/components/countries';
import CarouselCountries from '@/components/carousel-countries'

import Visa from '@/assets/benefits/visa.svg';
import Inter from '@/assets/benefits/inter.svg';
import Growth from '@/assets/benefits/growth.svg';
import Tax from '@/assets/benefits/tax.svg';
import Prot from '@/assets/benefits/prot.svg';
import Life from '@/assets/benefits/life.svg';
import Controls from '@/components/slider-controls';

export default {
  components: { Visa, Inter, Growth, Tax, Prot, Life, Contact, Countries, CarouselCountries, Controls },
  data: () => ({
    current: 0,
    desktop: screen.width > 768,
  }),
  methods: {
    prev() {
      this.$refs.slider.prev();
    },
    next() {
      this.$refs.slider.next();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;

  @include desktop {
    font-size: 48px;
    line-height: 60px;
  }
}

.main {
  margin-top: -63px;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @include mobile {
    background: 
      url('../assets/home-shape.png') no-repeat, 
      url('../assets/home-mobile.png') no-repeat, 
      url('../assets/home-layer.png') no-repeat;
    background-position: 
      top -140px left -90px, 
      top 60px center, 
      center;
    background-size:
      auto,
      auto, 
      120% 120%;
    padding-top: 350px;
    justify-content: flex-end;
    text-align: center;
  }

  @include desktop {
    background: url('../assets/home.png') no-repeat, url('../assets/home-layer.png') no-repeat;
    background-position: calc(50% - 30px) -240px, center;
    background-size: auto, 110% 120%;
    height: 800px;
    justify-content: center;
  }

  &__left {
    @include desktop {
      width: 50%;
    }

    h1 {
      color: #484848;

      div {
        color: #3e81ac;
        font-weight: 600;
      }
    }

    button {
      background-image: linear-gradient(270deg, #97ca54 0%, #83ca54 100%);
      color: #fff;
    }
  }
}

.benefits {

  @include mobile {
    padding: 40px 0 60px;
    background: url('../assets/benefits-mobile.png') no-repeat top 70px left 300px;
  }

  @include desktop {
    padding: 110px 0;
    background: url('../assets/benefits.png') no-repeat center;
    background-size: contain;
  }

  & > div {
    display: flex;
    flex-direction: column;
  }

  h2 {
    @include desktop {
      text-align: center;
    }
  }

  p {
    @include desktop {
      text-align: center;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    width: 38%;

    @include desktop {
      margin-left: 45%;
    }

    & > div {
      padding: 20px 25px;
      display: grid;
      align-items: center;
      grid-template-columns: 30px auto;
      grid-gap: 10px;
      border-radius: 10px;
      transition: all 0.3s;

      &:hover {
        box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(270deg, #97ca54 0%, #83ca54 100%);
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }

    svg {
      fill: #3e81ac;
      justify-self: center;
    }
  }

  button {
    margin-top: 30px;

    @include mobile {
      align-self: center;
    }

    @include desktop {
      margin-left: calc(45% + 25px);
      align-self: flex-start;
    }
  }
}

.services {
  background: #f9f9f9;

  @include mobile {
    padding: 40px 0 60px;
  }

  @include desktop {
    padding: 120px 0;
  }

  h2 {
    max-width: 720px;

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    @include desktop {
      margin-top: 40px;
    }
  }

  &__current {
    span {
      color: #83ca54;
      font-weight: 700;
    }

    @include desktop {
      display: none;
    }
  }

  &__list {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .prev,
    .next {
      width: 8px;
      height: 12px;
      background: url('../assets/arrow.png') no-repeat center;
      cursor: pointer;
      padding: 10px;

      @include desktop {
        display: none;
      }
    }

    .next {
      transform: rotate(180deg);
    }
  }

  &__grid {
    @include mobile {
      width: 85% !important;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, minmax(30%, 260px));
      grid-gap: 30px;
    }
  }

  &__item {
    transition: all 0.3s;

    @include mobile {
      padding: 0 20px;
    }

    @include desktop {
      border-top: 1px solid #1c1c1c;

      &:hover {
        background-image: linear-gradient(38deg, #3e81ac 0%, #3486ac 100%);
        color: #fff;
        border-radius: 6px;
        border-top-color: transparent;

        h3 {
          color: #fff;
        }
      }
    }

    &__inner {
      padding: 40px;
      min-height: 330px;
      border-radius: 6px;

      @include mobile {
        background-image: linear-gradient(38deg, #3e81ac 0%, #3486ac 100%);
        color: #fff;

        h3 {
          color: #fff;
        }
      }
    }
  }
}

.jurisdictions {
  @include mobile {
    padding: 40px 0;
  }

  @include desktop {
    padding: 80px 0;
  }
}

#random-triangle {
  @include desktop {
    background-image: url('../assets/footer-shape.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    margin-left: -250px;
    background-size: contain;
    transform: rotate(220deg);
    position: absolute;
    margin-top: -70px;
  }
}

</style>