<template>
  <carousel
    v-animate.fade="'slide-up'"
    ref="carousel"
    :value="value"
    :per-page="1"
    :per-page-custom="[[1025, 3]]"
    :pagination-enabled="false"
    @input="v => $emit('input', v)">
    <router-link :to="`/citizenship/${ getCitizenshipBySlug(c).slug }`" class="item">
      <div v-bind:style="{
              backgroundImage: 'url(\'https://api.my2ndpassport.com/storage/app/media/'+ getCitizenshipBySlug(c).image_preview + '\')',
              backgroundPosition: 'center',
              backgroundSize: 'cover'
           }" class="wrapper">
        <!-- <img :src="'https://api.my2ndpassport.com/storage/app/media/'+ getCitizenshipBySlug(c).image_preview ">-->
      </div>
      <div class="label">{{ getCitizenshipBySlug(c).name }}</div>
    </router-link>
  </carousel>
</template>

<script>
import Example from './example';
import { mapGetters } from 'vuex';

export default {
  components: { Example },
  props: {
    value: { type: Number, default: 0 },
      lines_data:  { type: Array }
  },
  methods: {
    prev() {
      this.$refs.carousel.advancePage('backward');
    },
    next() {
      this.$refs.carousel.advancePage('forward');
    },
  },
};
</script>