<template>
  <section class="contact">
    <div v-animate.fade="'slide-up'" class="inner cg">
      <span>
        If you have <b>any questions</b>, feel free <b>to contact us!</b>
      </span>
      <button class="green fill" @click="$store.commit('showModal')">
        Contact us
      </button>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.contact {
  padding: 40px 0;
  background: #3485ac;
  color: #eff8fe;
  font-size: 20px;
  line-height: 32px;

  .inner {
    @include desktop {
      display: flex;
      align-items: center;
    }
  }
  
  button {
    @include mobile {
      margin-top: 20px;
      display: block;
    }

    @include desktop {
      margin-left: 100px;
    }
  }
}
</style>